.w {  /* 版心的公共类 */
	width: 1080px;  
	margin: 0 auto;
}

/*-----全局定义-----*/
body{margin:0;padding:0;font-size:12px;font-family:"宋体";}
ul,li,dl,dt,dd,form{margin:0;padding:0;list-style:none;}
img{border:0;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.lh0{line-height:0px;}
.tac{text-align:center;}
.tar{text-align:right;}
a{text-decoration:none;color:#333333;}
a:hover{text-decoration:underline;color:#f7941e;}

/*-----字体定义-----*/
.fcGray{font-size:14px;color:#6b6c6e;font-family:"微软雅黑";}

/* 顶部链接文字 */
.navtopTel{width:40%; float:right; height:40px;}
.navlogo{height:75px;width:100%;float:left;}
.sitetel{float:left;width:165px;height:26px;line-height:26px;text-align:left;margin-top:6px;}
.enlink{float:left;margin-left:13px;}
.sitetel i {
	font-family: 'icomoon';
	font-style: normal;
	color: #FF6600;
}

/*-----菜单栏-----*/
.navmenu{width:100%;height:51px;background:url(../images/bg_menu.jpg);float:left;}
.homeico{float: left;width:50px;height:20px;margin-left:10px;margin-top:15px;}
.menuItem{float:left; width: 80px;text-align: center;}
.searchinput{float: left; width:155px; height:35px; margin-left:90px; margin-top:13px;background:url(../images/bg_search.jpg) no-repeat right 1px;}
.searchbtn{float: left;margin-top:13px;}
.login{float:left; margin-left:55px;margin-top:13px;}
.register{float:right;margin-top:15px;}
.menuItem a{font-family:"微软雅黑";font-size:13px;color:#333333;display:block;width:66px;height:46px;line-height:46px;}
.menuItem a:hover{color:#f7941e;border-bottom:3px solid #F8951D;text-decoration:none;}  /* text-decoration去掉下划线 */
.textStyle{margin-left:30px;padding:0;border:0;width:125px;height:18px;color:#333333;}

/*-----菜单栏鼠标停留显示列表-----*/
.subMenuInit{width:187px;border-bottom:1px solid #e3e4e5;position:absolute;z-index:10;display: none;}
.subMenuApp{width:100%;background-color: #fff; box-shadow:5px 5px 5px #AAAAAA;}
.subMenuApp ul{margin-left:20px;margin-top:4px;}
.subMenuApp li{background:url(../images/arrow.jpg) left center no-repeat;height:24px;line-height:24px;padding-left:13px;}
.subMenuPro{width:720px;height:185px;background-color: #fff;box-shadow:5px 5px 5px #AAAAAA; position:absolute;z-index:10;display: none;}
.proItem{width:153px;height:146px;border:1px solid #C3C1B5;float:left; display:inline;margin-left:20px;margin-top:20px;}

/*-----轮播图-----*/
div.demobackground{ width:1000px; height: 350px; margin: 25px auto; border-left: 40px solid #E7E7E9; border-right: 40px solid #E7E7E9;}
div.slideBox{ position:relative; width:1000px; height:600px; overflow:hidden; margin: 0 auto; }
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:40px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:10px; height:10px; background-color:#FFF; text-indent:-99999px; margin:15px 10px 0px 0px;}
div.slideBox div.tips div.nums a.active{ background-color:#f7941e;}

/*-----新闻-----*/
#scrollDiv{height:36px;min-height:36px;line-height:36px;overflow:hidden}
#scrollDiv li{height:36px;}

/*-----模块-----*/
.moduleImg{width:302px;height:108px;}
.module{width:303px;height:138px;background:url(../images/bg_module.jpg);}
.moduleTitle{font-size:14px;color:#333333;font-family:"微软雅黑";margin:0px 0 0 14px;padding-top:3px;}
.moduleDesc{color:#333333;line-height:16px;margin:9px 30px 0 14px;height:80px;}
.moduleDesc a{color:#333333;}
.moduleDesc a:hover{color:#333333;}
.moduleMore{text-align:right;margin:0px 30px 0 14px}
.moduleMore a{color:#f7941e;}

/*-----下方链接-----*/
.divider{float:left;width:100%;height:18px;background-color:#E7E7E9;margin-top:18px;}
.navSubModule{float:left;width:135px; text-align: center;}
.navTitle{color:#000000;font-size:14px;line-height:24px;margin-top:12px;font-family:"微软雅黑";}
.navSubTitle{line-height:18px;margin-top:4px;}
.bottom{float:left;text-align:right;margin:25px auto 0 auto;width:100%;border-top:2px solid #B3B4B6;height:42px;line-height:42px;color:#333333;}

@font-face {  /* 声明字体 */
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8qhwk5');
  src:  url('../fonts/icomoon.eot?8qhwk5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8qhwk5') format('truetype'),
    url('../fonts/icomoon.woff?8qhwk5') format('woff'),
    url('../fonts/icomoon.svg?8qhwk5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 产品列表页面左侧导航 */
.productLeftNav{width:125px; float:left; margin-top:12px;margin-left:12px;}
.leftNav{height: 35px;background: #f7941e;font-size:18px;line-height:32px;padding-left:8px;}
.leftNavList{background: #C7C7C7;}
.leftNavList li{font-size:14px;height:27px;border-bottom:1px solid #fff;line-height:27px; margin-left:8px;}
.pager{float:left;width:300px;height:30px;line-height: 30px;margin-top:12px;margin-left:30px;font-size: 14px;font-family: Microsoft YaHei;}


/* 表格 */
#generatedTable,#generatedTable tr th, #generatedTable tr td { border:1px solid #C7C7C7; background-color: #F0FFFF; }
#generatedTable {width: 910px; min-height: 25px; line-height: 25px; text-align: center; padding:1px;}
.contentTab{float:left; margin-left:30px;}

/* 图形预览窗口 */
.black_overlay {display:none;position:absolute;top:0%;left:0%;width:100%;height:100%;background-color:black;
z-index:1001;-moz-opacity:0.8; opacity: .50; filter: alpha(opacity=88);}
.white_content {display: none; position: absolute; top: 25%; left: 30%; width: 720px; height: 525px; padding: 0; border: 1px solid orange;
  background-color: white; z-index:1002; overflow: auto;}
.viewclose {background:#f7941e; width: 800px; height: 26px; position: float; z-index: 1002;}
.viewbox {padding: 0; width: 720px; height: 500px; margin: 5px auto 0px auto;}