.w {  /* 版心的公共类 */
	width: 1080px;  
	margin: 0 auto;  
}

/*-----全局定义-----*/
body{margin:0;padding:0;font-size:12px;font-family:"宋体";}
ul,li,dl,dt,dd,form{margin:0;padding:0;list-style:none;}
img{border:0;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.lh0{line-height:0px;}
.tac{text-align:center;}
.tar{text-align:right;}
a{text-decoration:none;color:#333333;}
a:hover{text-decoration:underline;color:#f7941e;}

/*-----字体定义-----*/
.fcGray{font-size:14px;color:#6b6c6e;font-family:"微软雅黑";}

/* 顶部链接文字 */
.sitemap{float:left;width:165px;height:26px;line-height:26px;text-align:left;margin-top:6px;}
.enlink{float:left;margin-left:13px;}
.sitemap i {
	font-family: 'icomoon';
	font-style: normal;
	color: #FF6600;
}

/*-----菜单栏-----*/
.menuItem a{font-family:"微软雅黑";font-size:13px;color:#333333;display:block;width:66px;height:46px;line-height:46px;}
.menuItem a:hover{color:#f7941e;border-bottom:3px solid #F8951D;text-decoration:none;}  /* text-decoration去掉下划线 */
.textStyle{margin-top:0px;padding:0;border:0;width:125px;height:18px;color:#333333;}

/*-----菜单栏鼠标停留显示列表-----*/
.subMenuInit{width:187px;border-bottom:1px solid #e3e4e5;position:absolute;z-index:10;display: none;}
.subMenuApp{width:100%;background-color: #fff; box-shadow:5px 5px 5px #AAAAAA;}
.subMenuApp ul{margin-left:20px;margin-top:4px;}
.subMenuApp li{background:url(../images/arrow.jpg) left center no-repeat;height:24px;line-height:24px;padding-left:13px;}
.subMenuPro{width:720px;height:185px;background-color: #fff;box-shadow:5px 5px 5px #AAAAAA; position:absolute;z-index:10;display: none;}
.proItem{width:153px;height:146px;border:1px solid #C3C1B5;float:left; display:inline;margin-left:20px;margin-top:20px;}

/*-----轮播图-----*/
div.demobackground{ width:1000px; height: 350px; margin: 25px auto; border-left: 40px solid #E7E7E9; border-right: 40px solid #E7E7E9;}
div.slideBox{ position:relative; width:1000px; height:600px; overflow:hidden; margin: 0 auto; }
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:40px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:10px; height:10px; background-color:#FFF; text-indent:-99999px; margin:15px 10px 0px 0px;}
div.slideBox div.tips div.nums a.active{ background-color:#f7941e;}

/*-----新闻-----*/
#scrollDiv{height:36px;min-height:36px;line-height:36px;overflow:hidden}
#scrollDiv li{height:36px;}

/*-----模块-----*/
.moduleImg{width:302px;height:108px;}
.module{width:303px;height:138px;background:url(../images/bg_module.jpg);}
.moduleTitle{font-size:14px;color:#333333;font-family:"微软雅黑";margin:0px 0 0 14px;padding-top:3px;}
.moduleDesc{color:#333333;line-height:16px;margin:9px 30px 0 14px;height:80px;}
.moduleDesc a{color:#333333;}
.moduleDesc a:hover{color:#333333;}
.moduleMore{text-align:right;margin:0px 30px 0 14px}
.moduleMore a{color:#f7941e;}

/*-----下方链接-----*/
.navTitle{color:#000000;font-size:14px;line-height:24px;margin-top:12px;font-family:"微软雅黑";}
.navSubTitle{line-height:18px;margin-top:4px;}
.bottom{text-align:right;margin:25px auto 0 auto;width:946px;border-top:2px solid #B3B4B6;height:42px;line-height:42px;color:#333333;}

.contentContainer{
	float: left;
}

.fr {
	float: left;  /* 上方快捷面板 */
	margin-left:160px;
}

.navigationPane { /*  浮动的左侧导航面板 */
	width:150px;
	height:650px;
	float: left;
	background-color:#D5D6E2;
}

.footer {     /* 页脚面板 */
	float: left;
}
.fr a {
	text-decoration: none;  /* 取消下划线 */
	font-size: 16px;
	font-weight: 700;
	color: #4595c5;
}
.fr a:hover {
	color: #c81623;
}
.nav-top{  /* 左边导航顶部标题 */
	width:150px;
	height:32px;
	font-size:20px;
	line-height:32px;
	background-color:#4595c5;
}
.nav-top span{
	margin-left:8px;
	font-family:\5B8B\4F53; /* 宋体 */
	font-weight:700;
}
.nav a{
	margin-left:8px;
	display: block;
	width:150px;
	height:24px;
	line-height:22px;
	text-decoration: none;  /* 取消下划线 */
	font-family:Arial,\5B8B\4F53;
	font-size: 16px;
}
.nav-item>a{	/* 一级菜单*/
	font-size:18px;
	font-weight:700;
}
.nav-item>a:hover{
	background:rgba(255,255,255,.5);
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0;
}
input,button {
	border: 0;
	outline: none;  /* 取消轮廓边框 */
}
ul {
	list-style: none;
	
}

@font-face {  /* 声明字体 */
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8qhwk5');
  src:  url('../fonts/icomoon.eot?8qhwk5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8qhwk5') format('truetype'),
    url('../fonts/icomoon.woff?8qhwk5') format('woff'),
    url('../fonts/icomoon.svg?8qhwk5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* header部分 */
.headerContainer {
	height: 80px;
	/* padding:13px 0 0 15px; */
	font:  bold 42px \9ED1\4F53;
	color: #0066cc;
	text-shadow: 5px 5px 3px rgba(0,0,0,0.2);
	float: left;
	background: url(../images/logoback.jpg) no-repeat;
}
#logo{
	padding:13px 0 0 15px;
}
/* 快速导航栏begin */
.contentHeader {
	height: 35px;
	line-height: 35px;
	background-color: #e3e4e5;
	float:left;	
}

.fr li {
	float: left; /* 上方快捷面板 */
	margin-left: 10px;
}

.space {  /* 小竖线 */
	width: 1px;
	height: 20px;
	background-color: #ccc;
	margin: 10px  12px 0;  /* 上 10  左右是 12  下是 0 */
}

/* 搜索框 */
.search {
	width: 355px;
	float:left;
	margin-left: 380px;
}
.search input {
	width: 300px;
	height: 33px;
	border: 1px solid #4595c5;
	float: left;
	font-size: 12px;
}
.search button {
	width: 50px;
	height: 35px;
	background-color: #4595c5;
	float: left;
}
.search button i {
	font-family: 'icomoon';
	font-style: normal;
	color: #fff;
}

/* 内容显示框 */
.contentPane {
	float:left;
	margin:20px 0 0 10px;
}

/* 页脚 */
.footer{
	margin: 30px 0 0 500px;
}

/* 表格 */
#generatedTable,#generatedTable tr th, #generatedTable tr td { border:1px solid #C7C7C7; background-color: #F0FFFF; }
#generatedTable {width: 800px; min-height: 25px; line-height: 25px; text-align: center; padding:1px;}